/* full pallet
button-text-white: rgb(254, 254, 254)
button-text-yellow: rgb(155, 156, 117)
button-text-pink: rgb(164, 120, 135)
button-text-blue: rgb(79, 112, 133)
button-green: rgb(150, 178, 91)
button-grey: rgb(109, 109, 109)
button-black: rgb(33, 33, 33)
metal-button-grey: rgb(63, 63, 63)
background-dark-grey: rgb(45, 45, 45)
background-black: rgb(31, 31, 31)
border-black: rgb(12, 12, 12)
solar-cell-brown: rgb(47, 29, 26)
screen-background-teal: rgb(207, 227, 227)
screen-text-black: rgb(5, 2, 8)
*/

/* used pallete 
background-dark-grey: rgb(45, 45, 45)
border-black: rgb(12, 12, 12)
solar-cell-brown: rgb(47, 29, 26)
button-text-white: rgb(254, 254, 254)
screen-background-teal: rgb(207, 227, 227)
metal-button-grey: rgb(63, 63, 63)
button-black: rgb(33, 33, 33)
button-green: rgb(150, 178, 91)
button-grey: rgb(109, 109, 109)
*/

@font-face {
    font-family: model-font;
    src: url("fonts/bm-dohyeon (Model)/BMDOHYEON_otf.otf");
}

*{
    box-sizing: border-box;
}

.calculator-body{
    background-color: rgb(45, 45, 45);
    border: 4px rgb(12, 12, 12) solid;
    border-radius: 15px;
    padding: 8px;
    margin: auto;
    width: 500px;
    height: 900px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calculator-head{
    display: flex;
    justify-content: space-between;
}

.calculator-model{
    font-family: model-font, 'Courier New', Courier, monospace;
    color: rgb(254, 254, 254);
}

.calculator-model h3{
    margin: 5px 4px;
    padding: 0;
}

.calculator-model p{
    margin: 0 4px;
    padding: 0;
}

.solar-cell{
    background-color: rgb(47, 29, 26);
    width: 250px;
    height: 60px;
    border-radius: 5px;
    border: 3px solid rgb(31, 31, 31);
}

.calculator-screen{
    display: flex;
    background-color: rgb(207, 227, 227);
    border: 3px solid rgb(31, 31, 31);
    height: 140px;
    padding: 10px;
}

.calculator-top-row{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.shift-alpha,
.mode-on{
    display: flex;
    box-sizing: content-box;
    gap: 35px;
    background-color: rgb(31, 31, 31);
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgb(3, 3, 3);
}

.metal-button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(63, 63, 63);
    color: rgb(254, 254, 254);
    font-weight: 600;
    font-size: 10px;
}

.arrow-keys{
    display: flex;
    flex-direction:column;
    width: 75px;
    align-items: center;
    text-align: center;
}

.arrow-key.metal-button{
    width: 30px;
    height: 30px;
    margin: -2px 0px;
}

.left-right{
    display: flex;
    gap: 15px;
}

.calculator-mid-row,
.calculator-bottom-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.calculator-bottom-row{
    margin-top: 20px;
    justify-content: center;

}

.middle-row-button{
    width: 70px;
    height: 35px;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(33, 33, 33);
    margin-bottom: 5px;
}

.bottom-row-button{
    width: 85px;
    height: 60px;
    background-color: rgb(109, 109, 109);
    margin-bottom: 7px;    
}

.bottom-row-button.green-btn{
    background-color: rgb(150, 178, 91);
}